{%- assign request_path = request.path | strip -%}

{%- if request_path == '/pages/shop' -%}
  <div class="custom-hero-container-images-metaobject-products">
    {% assign positionNumber = 0 %}
    {% assign a_count = 0 %}
    {% assign b_count = 0 %}
    {% assign c_count = 0 %}
    {% assign d_count = 0 %}

    <!-- PLEASE CHANGE THE NAME HERE -->

    {% for value in shop.metaobjects.hero.values %}
      {%- if value.page == 'Products' -%}
        {% if value.main_position == 'a' %}
          {% assign a_count = a_count | plus: 1 %}
          {% assign positionNumber = a_count %}
        {% endif %}

        {% if value.main_position == 'b' %}
          {% assign b_count = b_count | plus: 1 %}
          {% assign positionNumber = b_count %}
        {% endif %}

        {% if value.main_position == 'c' %}
          {% assign c_count = c_count | plus: 1 %}
          {% assign positionNumber = c_count %}
        {% endif %}

        {% if value.main_position == 'd' %}
          {% assign d_count = d_count | plus: 1 %}
          {% assign positionNumber = d_count %}
        {% endif %}

        {%- assign is_gallery_exists = false -%}
        {% if value.gallery_1
          or value.gallery_2
          or value.gallery_3
          or value.gallery_4
          or value.gallery_5
          or value.gallery_6
        %}
          {%- assign is_gallery_exists = true -%}
        {% endif %}

        {% comment %} <div>this is a shop page</div> {% endcomment %}
        <a
          {% if value.link != blank %}
            href="{{ value.link }}"
          {% elsif value.product != blank %}
            href="{{ value.product.value.url }}"
          {% endif %}
          class="custom_hero_product_image-link {% if is_gallery_exists == true %}custom_hero_gallery{% endif %}"
          style="grid-area:{{ value.main_position }}{{ positionNumber }}"
          grid-title="{{value.title}}"
          grid-page="{{value.page}}"
          {%- if value.gallery_1 -%}
            data-gallery_1="{{ value.gallery_1.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_2 -%}
            data-gallery_2="{{ value.gallery_2.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_3 -%}
            data-gallery_3="{{ value.gallery_3.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_4 -%}
            data-gallery_4="{{ value.gallery_4.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_5 -%}
            data-gallery_5="{{ value.gallery_5.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_6 -%}
            data-gallery_6="{{ value.gallery_6.value | image_url }}"
          {%- endif -%}
        >
          <img width="{{ value.featured_image.width }}" height="{{ value.featured_image.height}}" class="custom_hero_product_image" src="{{ value.featured_image |  image_url: width: value.featured_image.width  }}">
        </a>
      {%- endif -%}
    {% endfor %}
  </div>
{%- elsif request_path == '/pages/collections' -%}
  <div class="custom-hero-container-images-metaobject-products">
    {% assign positionNumber = 0 %}
    {% assign a_count = 0 %}
    {% assign b_count = 0 %}
    {% assign c_count = 0 %}
    {% assign d_count = 0 %}

    <!-- PLEASE CHANGE THE NAME HERE -->

    {% for value in shop.metaobjects.hero.values %}
      {% if value.main_position == 'a' %}
        {% assign a_count = a_count | plus: 1 %}
        {% assign positionNumber = a_count %}
      {% endif %}

      {% if value.main_position == 'b' %}
        {% assign b_count = b_count | plus: 1 %}
        {% assign positionNumber = b_count %}
      {% endif %}

      {% if value.main_position == 'c' %}
        {% assign c_count = c_count | plus: 1 %}
        {% assign positionNumber = c_count %}
      {% endif %}

      {% if value.main_position == 'd' %}
        {% assign d_count = d_count | plus: 1 %}
        {% assign positionNumber = d_count %}
      {% endif %}

      {%- assign is_gallery_exists = false -%}
      {% if value.gallery_1
        or value.gallery_2
        or value.gallery_3
        or value.gallery_4
        or value.gallery_5
        or value.gallery_6
      %}
        {%- assign is_gallery_exists = true -%}
      {% endif %}

      {%- if value.page == 'Collections' -%}
        <a
          {% if value.link != blank %}
            href="{{ value.link }}"
          {% elsif value.product != blank %}
            href="{{ value.product.value.url }}"
          {% endif %}
          class="custom_hero_product_image-link {% if is_gallery_exists == true %}custom_hero_gallery{% endif %}"
          style="grid-area:{{ value.main_position }}{{ positionNumber }}"
          grid-title="{{value.title}}"
          grid-page="{{value.page}}"
          {%- if value.gallery_1 -%}
            data-gallery_1="{{ value.gallery_1.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_2 -%}
            data-gallery_2="{{ value.gallery_2.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_3 -%}
            data-gallery_3="{{ value.gallery_3.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_4 -%}
            data-gallery_4="{{ value.gallery_4.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_5 -%}
            data-gallery_5="{{ value.gallery_5.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_6 -%}
            data-gallery_6="{{ value.gallery_6.value | image_url }}"
          {%- endif -%}
        >
          <img width="{{ value.featured_image.width }}" height="{{ value.featured_image.height}}" class="custom_hero_product_image" src="{{ value.featured_image |  image_url: width: value.featured_image.width  }}">
        </a>
      {% endif %}
    {% endfor %}
  </div>
{%- elsif request_path == '/pages/features' -%}
  <div class="custom-hero-container-images-metaobject-products">
    {% assign positionNumber = 0 %}
    {% assign a_count = 0 %}
    {% assign b_count = 0 %}
    {% assign c_count = 0 %}
    {% assign d_count = 0 %}

    <!-- PLEASE CHANGE THE NAME HERE -->

    {% for value in shop.metaobjects.hero.values %}
      {% if value.main_position == 'a' %}
        {% assign a_count = a_count | plus: 1 %}
        {% assign positionNumber = a_count %}
      {% endif %}

      {% if value.main_position == 'b' %}
        {% assign b_count = b_count | plus: 1 %}
        {% assign positionNumber = b_count %}
      {% endif %}

      {% if value.main_position == 'c' %}
        {% assign c_count = c_count | plus: 1 %}
        {% assign positionNumber = c_count %}
      {% endif %}

      {% if value.main_position == 'd' %}
        {% assign d_count = d_count | plus: 1 %}
        {% assign positionNumber = d_count %}
      {% endif %}

      {%- assign is_gallery_exists = false -%}
      {% if value.gallery_1
        or value.gallery_2
        or value.gallery_3
        or value.gallery_4
        or value.gallery_5
        or value.gallery_6
      %}
        {%- assign is_gallery_exists = true -%}
      {% endif %}

      {%- if value.page == 'Features' -%}
        <a
          {% if value.link != blank %}
            href="{{ value.link }}"
          {% elsif value.product != blank %}
            href="{{ value.product.value.url }}"
          {% endif %}
          class="custom_hero_product_image-link {% if is_gallery_exists == true %}custom_hero_gallery{% endif %}"
          style="grid-area:{{ value.main_position }}{{ positionNumber }}"
          grid-title="{{value.title}}"
          grid-page="{{value.page}}"
          {%- if value.gallery_1 -%}
            data-gallery_1="{{ value.gallery_1.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_2 -%}
            data-gallery_2="{{ value.gallery_2.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_3 -%}
            data-gallery_3="{{ value.gallery_3.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_4 -%}
            data-gallery_4="{{ value.gallery_4.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_5 -%}
            data-gallery_5="{{ value.gallery_5.value | image_url }}"
          {%- endif -%}
          {%- if value.gallery_6 -%}
            data-gallery_6="{{ value.gallery_6.value | image_url }}"
          {%- endif -%}
        >
          <img width="{{ value.featured_image.width }}" height="{{ value.featured_image.height}}" class="custom_hero_product_image" src="{{ value.featured_image |  image_url: width: value.featured_image.width  }}">
        </a>
      {% endif %}
    {% endfor %}
  </div>
{%- else -%}
  <div class="custom-hero-container-images-metaobject-products">
    {% assign positionNumber = 0 %}
    {% assign a_count = 0 %}
    {% assign b_count = 0 %}
    {% assign c_count = 0 %}
    {% assign d_count = 0 %}

    <!-- PLEASE CHANGE THE NAME HERE -->

    {% for value in shop.metaobjects.hero.values %}
      {% if value.main_position == 'a' %}
        {% assign a_count = a_count | plus: 1 %}
        {% assign positionNumber = a_count %}
      {% endif %}

      {% if value.main_position == 'b' %}
        {% assign b_count = b_count | plus: 1 %}
        {% assign positionNumber = b_count %}
      {% endif %}

      {% if value.main_position == 'c' %}
        {% assign c_count = c_count | plus: 1 %}
        {% assign positionNumber = c_count %}
      {% endif %}

      {% if value.main_position == 'd' %}
        {% assign d_count = d_count | plus: 1 %}
        {% assign positionNumber = d_count %}
      {% endif %}

      {%- assign is_gallery_exists = false -%}
      {% if value.gallery_1
        or value.gallery_2
        or value.gallery_3
        or value.gallery_4
        or value.gallery_5
        or value.gallery_6
      %}
        {%- assign is_gallery_exists = true -%}
      {% endif %}

      <a
        {% if value.link != blank %}
          href="{{ value.link }}"
        {% elsif value.product != blank %}
          href="{{ value.product.value.url }}"
        {% endif %}
        class="custom_hero_product_image-link {% if is_gallery_exists == true %}custom_hero_gallery{% endif %}"
        style="grid-area:{{ value.main_position }}{{ positionNumber }}"
        grid-title="{{value.title}}"
        grid-page="{{value.page}}"
        {%- if value.gallery_1 -%}
          data-gallery_1="{{ value.gallery_1.value | image_url }}"
        {%- endif -%}
        {%- if value.gallery_2 -%}
          data-gallery_2="{{ value.gallery_2.value | image_url }}"
        {%- endif -%}
        {%- if value.gallery_3 -%}
          data-gallery_3="{{ value.gallery_3.value | image_url }}"
        {%- endif -%}
        {%- if value.gallery_4 -%}
          data-gallery_4="{{ value.gallery_4.value | image_url }}"
        {%- endif -%}
        {%- if value.gallery_5 -%}
          data-gallery_5="{{ value.gallery_5.value | image_url }}"
        {%- endif -%}
        {%- if value.gallery_6 -%}
          data-gallery_6="{{ value.gallery_6.value | image_url }}"
        {%- endif -%}
      >
        <img width="{{ value.featured_image.width }}" height="{{ value.featured_image.height}}" class="custom_hero_product_image" src="{{ value.featured_image |  image_url: width: value.featured_image.width  }}">
      </a>
    {% endfor %}
  </div>
{%- endif -%}
