{{ 'custom-hero.css' | asset_url | stylesheet_tag }}

<style>
  .custom_hero_product_image {
    max-width: {{ section.settings.image_width_1 }}rem;
  }
  @media only screen and (max-width:650px){
    .custom_hero_product_image {
      max-width: {{ section.settings.image_width_2 }}rem;
    }
  }
</style>

<div class="custom-hero-container">
  <div class="custom-hero-container-zoom">
    <div onclick="zoomIn()" class="custom-hero-container-zoom-in">
      <img class="custom-hero-container-zoom-img" width="" height="" src="https://cdn.shopify.com/s/files/1/0801/5963/7830/files/Group_117.svg?v=1711227170"/>
    </div>
    <div onclick="zoomOut()" class="custom-hero-container-zoom-out">
      <img class="custom-hero-container-zoom-img" width="" height="" src="https://cdn.shopify.com/s/files/1/0801/5963/7830/files/Group_118.svg?v=1711227170"/>
    </div>
  </div>

  <div class="custom-hero-container-images">
    <div class="vignette"><span></span></div>
    <div class="custom-hero-container-images-row">
      {% assign today = 'now' | date: '%u' %}
      {% for product in section.settings.collection.products %}
        {% assign image_position = forloop.index | plus: today %}
        {% assign max_image_position = section.settings.collection.products_count | minus: today %}
        {% if image_position > max_image_position %}
          {% assign image_position = forloop.index | plus: today | minus: max_image_position %}
        {% endif %}
        <a target="_blank" class="custom_hero_product_image-link" href="{{ product.url }}" style="grid-area:p{{ image_position }}">
          <img
            width=""
            height=""
            class="custom_hero_product_image"
            src="{{ product | img_url: 'large' }}"
          >
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="custom-hero-menu-container">
    <a href="/"><img src="{{ shop.brand.logo | img_url: 'large' }}" class="custom-hero-menu-logo"></a>
    <div class="custom-hero-menu-links">
      {%- for link in section.settings.menu.links -%}
        <a class="custom-hero-menu-link" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>

<script>
    window.onload = () => {
        let frame = document.querySelector(".custom-hero-container")
        let container = document.querySelector(".custom-hero-container-images")
        let frameWidth = frame.clientWidth
        let containerWidth = container.clientWidth
        let frameHeight = frame.clientHeight
        let containerHeight = container.clientHeight
        frame.scrollLeft = (containerWidth - frameWidth) / 2;
        frame.scrollTop = (containerHeight - frameHeight) / 2;
    };
    function zoomIn() {
        let currentSize = document.querySelector(".custom_hero_product_image").getAttribute("data-image-size");
        let mql = window.matchMedia("(max-width: 650px)");
        if (!document.querySelector(".custom_hero_product_image").getAttribute("data-image-size")) {
            if (mql.matches) {
                currentSize = {{ section.settings.image_width_2 }}
            }
            else if (!mql.matches) {
                currentSize = {{ section.settings.image_width_1 }}
            }
        }
        // you can change maximum size here
        if (currentSize < 25) {
            currentSize += 1; // you can change the zoom in with every zoom here
        }
        document.querySelectorAll(".custom_hero_product_image").forEach((img) => {
            img.setAttribute("style", `max-width:${currentSize}rem;`)
            img.setAttribute("data-image-size", `${currentSize}`)
        })
    }
    function zoomOut() {
        let currentSize = document.querySelector(".custom_hero_product_image").getAttribute("data-image-size");
        let mql = window.matchMedia("(max-width: 650px)");
        if (!document.querySelector(".custom_hero_product_image").getAttribute("data-image-size")) {
            if (mql.matches) {
                currentSize = {{ section.settings.image_width_2 }}
            }
            else if (!mql.matches) {
                currentSize = {{ section.settings.image_width_1 }}
            }
        }
      // Get the element by its ID or any other selector
      var element = document.querySelector(".custom-hero-container-images-row");
    
      // Get the height of the element
      var elementHeight = element.clientHeight;
    
      // Calculate the height in viewport height (vh) units
      var vhHeight = (elementHeight / window.innerHeight) * 100;
      // you can change minimum size here
        if (currentSize > 1 && vhHeight >= 100) {
            currentSize -= 1; // you can change the zoom out with every zoom here
        }
        document.querySelectorAll(".custom_hero_product_image").forEach((img) => {
            img.setAttribute("style", `max-width:${currentSize}rem;`)
            img.setAttribute("data-image-size", `${currentSize}`)
        })
    }
</script>

{% schema %}
{
  "name": "Custom Hero for Products",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Select Menu:"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection:"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color of Section:",
      "default": "#fcfcfc"
    },
    {
      "type": "range",
      "id": "image_width_1",
      "min": 1,
      "max": 50,
      "step": 0.5,
      "unit": "rem",
      "label": "Width of image (Desktop)",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_width_2",
      "min": 1,
      "max": 50,
      "step": 0.5,
      "unit": "rem",
      "label": "Width of image (Mobile)",
      "default": 10
    }
  ],
  "presets": [
    {
      "name": "Custom Hero for Products",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% comment %}
  {
    "type": "range",
    "id": "image_width_3",
    "min": 1,
    "max": 50,
    "step": 0.5,
    "unit": "rem",
    "label": "Width of image (min width: 1080px)",
    "default": 10
  },
  {
    "type": "range",
    "id": "image_width_4",
    "min": 1,
    "max": 50,
    "step": 0.5,
    "unit": "rem",
    "label": "Width of image (min width: 800px)",
    "default": 10
  },
  {
    "type": "range",
    "id": "image_width_5",
    "min": 1,
    "max": 50,
    "step": 0.5,
    "unit": "rem",
    "label": "Width of image (min width: 650px)",
    "default": 10
  },
  {
    "type": "range",
    "id": "image_width_6",
    "min": 1,
    "max": 50,
    "step": 0.5,
    "unit": "rem",
    "label": "Width of image (min width: 480px)",
    "default": 10
  },
  {
    "type": "range",
    "id": "image_width_7",
    "min": 1,
    "max": 50,
    "step": 0.5,
    "unit": "rem",
    "label": "Width of image (min width: 320px)",
    "default": 10
  }
{% endcomment %}
