{{ 'nav-page-section.css' | asset_url | stylesheet_tag }}

<div class="layout-container-wrapper">
  <div class="logo-wrapper">
    <a href="/"
      ><img width="" height="" src="{{ settings.logo | img_url: 'medium' }}" class="custom-hero-menu-logo"
    ></a>
  </div>
  <div class="layout-container">
    <!-- Left Side Navigation -->
    <aside class="navigation-sidebar">
      <ul class="navigation-list">
        {%- for link in section.settings.menu.links -%}
        <li><a href="{{ link.url }}" class="{%- if link.handle == page.metafields.custom.menu_handle -%}active{%- endif -%}">{{ link.title }}  →</a></li>
        {% comment %} <li>link handle - {{ link.handle }}</li> {% endcomment %}
        {% endfor %}
      </ul>
    </aside>

    <!-- Right Side Content -->
    <section class="page-content-container">
      {{ page.content  }} 
    </section>

    <div class="page-footer-social">
      <a href="{{ settings.social_youtube_link }}">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="auto" viewBox="0 0 50 50">
        <path d="M 24.402344 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.402344 16.898438 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.902344 40.5 17.898438 41 24.5 41 C 31.101563 41 37.097656 40.5 40.597656 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.097656 35.5 C 45.5 33 46 29.402344 46.097656 24.902344 C 46.097656 20.402344 45.597656 16.800781 45.097656 14.300781 C 44.699219 12.101563 42.800781 10.5 40.597656 10 C 37.097656 9.5 31 9 24.402344 9 Z M 24.402344 11 C 31.601563 11 37.398438 11.597656 40.199219 12.097656 C 41.699219 12.5 42.898438 13.5 43.097656 14.800781 C 43.699219 18 44.097656 21.402344 44.097656 24.902344 C 44 29.199219 43.5 32.699219 43.097656 35.199219 C 42.800781 37.097656 40.800781 37.699219 40.199219 37.902344 C 36.597656 38.601563 30.597656 39.097656 24.597656 39.097656 C 18.597656 39.097656 12.5 38.699219 9 37.902344 C 7.5 37.5 6.300781 36.5 6.101563 35.199219 C 5.300781 32.398438 5 28.699219 5 25 C 5 20.398438 5.402344 17 5.800781 14.902344 C 6.101563 13 8.199219 12.398438 8.699219 12.199219 C 12 11.5 18.101563 11 24.402344 11 Z M 19 17 L 19 33 L 33 25 Z M 21 20.402344 L 29 25 L 21 29.597656 Z"></path>
        </svg>
      </a>
      <a href="{{ settings.social_instagram_link }}">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="auto" viewBox="0 0 50 50">
          <path d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"></path>
        </svg>
      </a>
    </div>
  </div>
</div>

{%- if page.handle == "information" -%}
  <script>
    console.log("information page is executing");
  </script>
{%- elsif page.handle == "contact" -%}
  <script>
    console.log("contact page is executing");
  </script>
{%- elsif page.handle == "newsletter" -%}
  <script>
    console.log("newsletter page is executing");
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Nav Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Select Menu:"
    }
  ],
  "presets": [
    {
      "name": "Nav Section"
    }
  ]
}
{% endschema %}
